Clima-Telegran.json
{
  "name": "Clima-Telegran",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere um conteudo para linkedin usando esse conteudo.\n\n\nTema principal: {{ $json.message.text }}",
        "options": {
          "systemMessage": "=Descrição:\nVocê é um assistente virtual de clima integrado a um chatbot no Telegram. Sua função é informar a temperatura atual e as condições climáticas de cidades do Brasil de forma clara, objetiva e amigável.\n\nTema principal:\nConsulta de temperatura e condições climáticas atuais (somente do dia corrente) para cidades brasileiras.\n\nObjetivo:\n\n* Identificar o nome da cidade mencionada pelo usuário.\n* Considerar que a cidade pertence ao Brasil, mesmo que o estado não seja informado.\n* Entender variações de linguagem natural como:\n\n  * \"Qual o clima no Rio?\"\n  * \"Como está o tempo em Recife?\"\n  * \"Temperatura em São Paulo\"\n* Fornecer apenas informações do dia atual.\n* Não gerar conteúdos fora do contexto de clima.\n* Não fornecer previsões futuras ou históricas.\n\nUSO OBRIGATÓRIO DE FERRAMENTA:\n\n* É obrigatório consultar a ferramenta Tavily Search antes de gerar qualquer resposta válida de clima.\n* Sempre pesquisar usando o formato:\n  \"clima atual em {cidade} Brasil\"\n* Nunca inventar valores.\n* Nunca responder com base em conhecimento próprio ou memória.\n* Se não for possível obter dados confiáveis, retornar resposta de erro.\n\nValidações obrigatórias:\n\n1. Pergunta fora de contexto\n   Se a mensagem não estiver relacionada a clima, temperatura ou tempo.\n\n2. Cidade não informada\n   Se o usuário perguntar sobre clima sem mencionar uma cidade.\n\n3. Data diferente do dia atual\n   Se o usuário solicitar clima de:\n\n* outro dia\n* semana passada ou futura\n* mês ou ano específico\n  Responder informando que apenas o dia atual está disponível.\n\n4. País diferente do Brasil\n   Se a cidade solicitada não estiver no Brasil.\n\n5. Falha na busca ou dados indisponíveis\n\nRegras de Emojis (clima):\n\n* Céu limpo / ensolarado → ☀️\n* Parcialmente nublado → 🌤️\n* Nublado / encoberto → ☁️\n* Chuva / pancadas / garoa → 🌧️\n* Tempestade → ⛈️\n* Névoa / neblina → 🌫️\n* Frio intenso → ❄️\n* Vento forte → 💨\n\nRegras adicionais:\n\n* Sempre incluir 🌡️ para temperatura.\n* O emoji de clima deve aparecer antes da descrição da condição.\n* Escolher o emoji mais adequado com base na condição retornada.\n\nFormato da resposta de sucesso:\n\n📍 Cidade: {cidade}\n🌡️ Temperatura: {temperatura}°C\n{emoji_clima} Condição: {descricao_do_clima}\n\nFormato de saída obrigatório:\n\n* Responder APENAS em JSON válido.\n* Não usar markdown.\n* Não incluir texto fora do JSON.\n* Não adicionar explicações extras.\n\nEstrutura obrigatória:\n\n{\n\"cidade\": \"Nome da cidade ou null\",\n\"temperatura\": numero_em_celsius_ou_null,\n\"condicao\": \"Descrição do clima ou null\",\n\"resposta\": \"Mensagem formatada para o Telegram\"\n}\n\nRespostas de erro (sempre iniciar com 😢):\n\nPergunta fora de contexto:\n{\n\"cidade\": null,\n\"temperatura\": null,\n\"condicao\": null,\n\"resposta\": \"😢 Este assistente é exclusivo para consultas de clima atual em cidades do Brasil.\"\n}\n\nCidade não informada:\n{\n\"cidade\": null,\n\"temperatura\": null,\n\"condicao\": null,\n\"resposta\": \"😢 Por favor, informe o nome de uma cidade do Brasil para consultar o clima atual.\"\n}\n\nData diferente do dia atual:\n{\n\"cidade\": null,\n\"temperatura\": null,\n\"condicao\": null,\n\"resposta\": \"😢 Só é possível consultar o clima do dia atual. Informe uma cidade brasileira para continuar.\"\n}\n\nPaís diferente do Brasil:\n{\n\"cidade\": null,\n\"temperatura\": null,\n\"condicao\": null,\n\"resposta\": \"😢 Este serviço está disponível apenas para cidades do Brasil.\"\n}\n\nFalha na consulta ou dados indisponíveis:\n{\n\"cidade\": null,\n\"temperatura\": null,\n\"condicao\": null,\n\"resposta\": \"😢 Não foi possível obter os dados do clima no momento. Por favor, tente novamente.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        400
      ],
      "id": "15f02eda-1c43-42ed-b64f-4fd991aaafed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        624
      ],
      "id": "e6360738-cd78-4884-bac4-26c59e896297",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Wen8BlswFVQWda4k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tood to search the web. Require `query` param",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `The search query`, 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        832,
        624
      ],
      "id": "483a70ca-9c10-4bbd-befd-445d6d973a31",
      "name": "Tavily Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YLdCqaNi9SvKt5ye",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce6cbea9-1619-42c1-9289-2f41e74fda51",
              "name": "post",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        400
      ],
      "id": "06321601-4a74-4345-af45-59394a99ebf9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        352,
        400
      ],
      "id": "7bf5de2c-e69e-41fd-8910-9ddbd8e2fa77",
      "name": "Telegram Trigger1",
      "webhookId": "37dfb0ca-bd4a-4a0a-b749-99dc8d0cff0f",
      "credentials": {
        "telegramApi": {
          "id": "pGLz5XtMw1wKXfkM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "GWIzWC3mYDz8kX68",
          "mode": "list",
          "cachedResultName": "clima",
          "cachedResultUrl": "/projects/NTzbQfB4WxYlVSFs/datatables/GWIzWC3mYDz8kX68"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cidade": "={{ JSON.parse($json.post).cidade }}",
            "temperatura": "={{ JSON.parse($json.post).temperatura }}",
            "condicoes": "={{ JSON.parse($json.post).condicao }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "condicoes",
              "displayName": "condicoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1264,
        304
      ],
      "id": "3aa53b4d-a490-450f-8186-d63394aa88ff",
      "name": "Insert row"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Olá, segue a temperatura solicitada.\n\n{{ JSON.parse($json.post).resposta }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        496
      ],
      "id": "3469e573-84e8-41db-a2f3-68e992581761",
      "name": "Send a text message",
      "webhookId": "218b8635-2fd1-4922-80df-b104871d924a",
      "credentials": {
        "telegramApi": {
          "id": "pGLz5XtMw1wKXfkM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 663424310,
          "message": {
            "message_id": 7,
            "from": {
              "id": 8461623748,
              "is_bot": false,
              "first_name": "Ednei",
              "last_name": "Freitas",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 8461623748,
              "first_name": "Ednei",
              "last_name": "Freitas",
              "type": "private"
            },
            "date": 1771732963,
            "text": "Qual o clima da cidade de Nova York"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "77601c2e-f1ac-4ca4-8457-1e3e4d15fb8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79662fafd4c4840cc39132e717209a49dbeaf438f162e61a6c6189cb1eef43d9"
  },
  "id": "QKRcRMozR9h7j5f0",
  "tags": []
}