workflow-telegram-chatbot.json
{
  "name": "Clima-Telegran",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.json) }}",
        "options": {
          "systemMessage": "=Você receberá um JSON contendo dados meteorológicos válidos.\n\nConsidere que o JSON sempre terá a seguinte estrutura:\n\n{\n  \"name\": \"Nome da cidade\",\n  \"weather\": [\n    {\n      \"main\": \"Rain\",\n      \"description\": \"chuva moderada\"\n    }\n  ],\n  \"temp\": {\n    \"temp\": 20.22\n  }\n}\n\nTAREFA:\n\n1. Extrair:\n   - name\n   - temp.temp\n   - weather[0].main\n   - weather[0].description\n\n2. Escolher o ícone com base em weather[0].main:\n\nRain → 🌧️\nDrizzle → 🌦️\nThunderstorm → ⛈️\nClear → ☀️\nClouds → ☁️\nSnow → ❄️\nMist, Fog ou Haze → 🌫️\nQualquer outro → 🌍\n\n3. Responder EXATAMENTE no formato:\n\n<icone> A temperatura em {name} é de {temperatura_inteira}°C com {description}.\n\nRegras:\n- Nunca adicionar explicações extras.\n- Nunca mostrar \"undefined\".\n- Apenas a frase final."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2528,
        -592
      ],
      "id": "15f02eda-1c43-42ed-b64f-4fd991aaafed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2600,
        -368
      ],
      "id": "e6360738-cd78-4884-bac4-26c59e896297",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ca0138c-67fc-40ef-b5d4-1160ce61f90a",
              "name": "json",
              "value": "={{ \n  {\n    name: $json.name,\n    weather: $json.weather,\n    temp:Math.floor($json.main.temp),\n    wind: $json.wind,\n    error: $json.error\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -592
      ],
      "id": "1873e62d-d0b1-4475-936c-9a0514c5c5db",
      "name": "parserResponse"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce6cbea9-1619-42c1-9289-2f41e74fda51",
              "name": "post",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        -304
      ],
      "id": "06321601-4a74-4345-af45-59394a99ebf9",
      "name": "response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34c642fe-b040-4714-a529-ac8221ca0d3c",
              "name": "message.text",
              "value": "={{ \n(\n  ($json.message.text || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase()\n) + \",BR\"\n}}",
              "type": "string"
            },
            {
              "id": "416cb6c3-af3e-42db-85ad-add8335736aa",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -496
      ],
      "id": "53f39fba-1646-4784-82e0-992538bdcf34",
      "name": "queue"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbb7e29a-2018-449a-a88f-b7d427fcf3f9",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "97f91c0c-fd0d-4db1-b678-93288c0193cc",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        -208
      ],
      "id": "98929320-af71-4fae-9d78-c5242c8617d8",
      "name": "valid_empty_message"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "appid",
              "value": "WEATHER_KEY_API"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        -496
      ],
      "id": "5366584f-7499-4c78-94a4-6ebf74dc96c7",
      "name": "WeatherAPI",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1184,
        -208
      ],
      "id": "7bf5de2c-e69e-41fd-8910-9ddbd8e2fa77",
      "name": "Telegram Trigger",
      "webhookId": "37dfb0ca-bd4a-4a0a-b749-99dc8d0cff0f"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        -304
      ],
      "id": "b64f28df-071c-4568-a8f9-774ebc3bc337",
      "name": "Send a text message - empty message",
      "webhookId": "e5fa5349-a0b7-43f1-a7e1-fae0dbe71700",
      "credentials": {
        "telegramApi": {
          "id": "u6YPy5pL5fsmjm11",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2304,
        -400
      ],
      "id": "5d0270fa-c2e5-4f4c-a4a4-c4dc0a9e9a1f",
      "name": "Send a text message - Error response message",
      "webhookId": "e5fa5349-a0b7-43f1-a7e1-fae0dbe71700",
      "credentials": {
        "telegramApi": {
          "id": "u6YPy5pL5fsmjm11",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.post }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3328,
        -400
      ],
      "id": "3469e573-84e8-41db-a2f3-68e992581761",
      "name": "Send a text message - clima",
      "webhookId": "218b8635-2fd1-4922-80df-b104871d924a",
      "credentials": {
        "telegramApi": {
          "id": "u6YPy5pL5fsmjm11",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6d5a2741-42d7-4ad6-833e-d5b0330e5813",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2880,
        -592
      ],
      "id": "b15536ff-ae7a-4ada-b9e3-61153c5e82e9",
      "name": "check_llm_response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51a88911-de56-489f-ac49-5f5adad5dc30",
              "name": "fallback",
              "value": "={{ \"A temperatura em \" + $('WeatherAPI').item.json.name + \" é de \" + Math.floor($('WeatherAPI').item.json.main.temp) + \"°C com \" + $('WeatherAPI').item.json.weather[0].description }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        -496
      ],
      "id": "084049b8-da4b-42f5-9e3d-ac458b006acc",
      "name": "fallbackLLM"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d823c7f9-3db6-40fb-b907-f96a4e0eaf42",
              "leftValue": "={{ \n$json.cod === 200 &&\n  $json.main &&\n  $json.main.temp !== undefined &&\n  $json.weather &&\n  $json.weather.length > 0 &&\n  $json.name !== undefined\n}}",
              "rightValue": 200,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2080,
        -496
      ],
      "id": "65c43ae1-7574-468f-8a1e-98257be4e791",
      "name": "validate_weather_data"
    },
    {
      "parameters": {
        "errorMessage": "Nenhuma mensagem foi informada pelo usuário."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1632,
        -112
      ],
      "id": "34148328-b1e7-4e21-a3d5-f51529bbc1e9",
      "name": "Alert - Empty message"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2304,
        -208
      ],
      "id": "3473b80b-0f99-4c12-85b8-beb07958a927",
      "name": "Alert- Validade weather",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "errorMessage": "Falha na conexão com o modelo de linguagem (LLM). Como mecanismo de contingência, a mensagem foi enviada por meio de uma resposta manual."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3104,
        -688
      ],
      "id": "f0031d99-3629-4d0a-b3ee-c86efa669a3b",
      "name": "Alert - LLM"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 663424428,
          "message": {
            "message_id": 189,
            "from": {
              "id": 8461623748,
              "is_bot": false,
              "first_name": "Ednei",
              "last_name": "Freitas",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 8461623748,
              "first_name": "Ednei",
              "last_name": "Freitas",
              "type": "private"
            },
            "date": 1773539057,
            "text": "Rio de Janeiro"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "check_llm_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parserResponse": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response": {
      "main": [
        [
          {
            "node": "Send a text message - clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "queue": {
      "main": [
        [
          {
            "node": "WeatherAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valid_empty_message": {
      "main": [
        [
          {
            "node": "queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert - Empty message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message - empty message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeatherAPI": {
      "main": [
        [
          {
            "node": "validate_weather_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "valid_empty_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message - clima": {
      "main": [
        []
      ]
    },
    "check_llm_response": {
      "main": [
        [
          {
            "node": "fallbackLLM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert - LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fallbackLLM": {
      "main": [
        [
          {
            "node": "Send a text message - clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_weather_data": {
      "main": [
        [
          {
            "node": "parserResponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message - Error response message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert- Validade weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "6zvGCghXZ5ZVcHhg",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "99469992-27cb-4810-ad73-9b81670b6ba1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79662fafd4c4840cc39132e717209a49dbeaf438f162e61a6c6189cb1eef43d9"
  },
  "id": "QKRcRMozR9h7j5f0",
  "tags": []
}
