workflow-telegram-chatbot.json
{
  "name": "Clima-Telegran",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.json) }}",
        "options": {
          "systemMessage": "=Você receberá um JSON contendo dados meteorológicos válidos.\n\nConsidere que o JSON sempre terá a seguinte estrutura:\n\n{\n  \"name\": \"Nome da cidade\",\n  \"weather\": [\n    {\n      \"main\": \"Rain\",\n      \"description\": \"chuva moderada\"\n    }\n  ],\n  \"temp\": {\n    \"temp\": 20.22\n  }\n}\n\nTAREFA:\n\n1. Extrair:\n   - name\n   - temp.temp\n   - weather[0].main\n   - weather[0].description\n\n2. Arredondar a temperatura para número inteiro (sem casas decimais).\n\n3. Escolher o ícone com base em weather[0].main:\n\nRain → 🌧️\nDrizzle → 🌦️\nThunderstorm → ⛈️\nClear → ☀️\nClouds → ☁️\nSnow → ❄️\nMist, Fog ou Haze → 🌫️\nQualquer outro → 🌍\n\n4. Responder EXATAMENTE no formato:\n\n<icone> A temperatura em {name} é de {temperatura_inteira}°C com {description}.\n\nRegras:\n- Nunca adicionar explicações extras.\n- Nunca mostrar \"undefined\".\n- Apenas a frase final."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2304,
        -480
      ],
      "id": "15f02eda-1c43-42ed-b64f-4fd991aaafed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2384,
        -256
      ],
      "id": "e6360738-cd78-4884-bac4-26c59e896297",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1184,
        -384
      ],
      "id": "7bf5de2c-e69e-41fd-8910-9ddbd8e2fa77",
      "name": "Telegram Trigger1",
      "webhookId": "37dfb0ca-bd4a-4a0a-b749-99dc8d0cff0f",
      "credentials": {
        "telegramApi": {
          "id": "pGLz5XtMw1wKXfkM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2880,
        -480
      ],
      "id": "3469e573-84e8-41db-a2f3-68e992581761",
      "name": "Send a text message",
      "webhookId": "218b8635-2fd1-4922-80df-b104871d924a",
      "credentials": {
        "telegramApi": {
          "id": "pGLz5XtMw1wKXfkM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Telegran-Clima-Bot",
        "height": 544,
        "width": 2080,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -656
      ],
      "typeVersion": 1,
      "id": "6dc4eac0-683f-4c7a-845e-1fc10973d4d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "appid"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        -384
      ],
      "id": "5366584f-7499-4c78-94a4-6ebf74dc96c7",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ca0138c-67fc-40ef-b5d4-1160ce61f90a",
              "name": "json",
              "value": "={{ \n  {\n    name: $json.name,\n    weather: $json.weather,\n    temp: $json.main,\n    wind: $json.wind,\n    error: $json.error\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        -480
      ],
      "id": "1873e62d-d0b1-4475-936c-9a0514c5c5db",
      "name": "parserResponse"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce6cbea9-1619-42c1-9289-2f41e74fda51",
              "name": "post",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        -480
      ],
      "id": "06321601-4a74-4345-af45-59394a99ebf9",
      "name": "response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34c642fe-b040-4714-a529-ac8221ca0d3c",
              "name": "message.text",
              "value": "={{ \n(\n  ($json.message.text || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase()\n) + \",BR\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -384
      ],
      "id": "53f39fba-1646-4784-82e0-992538bdcf34",
      "name": "queue"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0bf777d6-00d0-44e0-bf25-74c445c3e57a",
              "leftValue": "={{ $json.coord }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4b4521a0-56e8-4f7d-aa93-dd615f45766e",
              "leftValue": "={{ $json.main }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        -384
      ],
      "id": "19379bf8-776f-47d7-997e-a0d49568b731",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        -288
      ],
      "id": "5d0270fa-c2e5-4f4c-a4a4-c4dc0a9e9a1f",
      "name": "Send a text message1",
      "webhookId": "e5fa5349-a0b7-43f1-a7e1-fae0dbe71700"
    }
  ],
  "pinData": {
    "queue": [
      {
        "json": {
          "message": {
            "text": "xxxxx,BR"
          }
        }
      }
    ],
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 663424392,
          "message": {
            "message_id": 115,
            "from": {
              "id": 8461623748,
              "is_bot": false,
              "first_name": "Ednei",
              "last_name": "Freitas",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 8461623748,
              "first_name": "Ednei",
              "last_name": "Freitas",
              "type": "private"
            },
            "date": 1772156702,
            "text": "Rio de Janeiro, RJ"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parserResponse": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "queue": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "parserResponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7beafaec-f128-41f9-af67-c3f2cce97b03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79662fafd4c4840cc39132e717209a49dbeaf438f162e61a6c6189cb1eef43d9"
  },
  "id": "QKRcRMozR9h7j5f0",
  "tags": []
}